<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
	<title>Our Projects</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Average Friends">

        <link rel="icon" href="https://goo.gl/hYWxmp">
        <link rel="shortcut icon" href="https://goo.gl/hYWxmp">
        <link rel="apple-touch-icon-precomposed" href="https://goo.gl/hYWxmp">


    <meta property="og:title" content="Home">




    <link rel="stylesheet" href="../assets/main">


    <script src="../assets/manifest"></script>
    <script src="../assets/script.js"></script><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>

    



    <script src="../assets/embed.js"></script>

    

</head>
<body class="page-home not-wide-design">

	<div id="wrapper">

		



		<div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
						<a class="navbar-item logo" href="http://averagefriends.me/"><img src="../img/AF.jpg"></a>

					<span class="navbar-burger burger" id="nav-toggle">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>

				<div class="navbar-menu" id="nav-menu">
					<div class="navbar-start">
						<!-- navbar items -->
					</div>

					<div class="navbar-end">
							<a ng-repeat="" class="navbar-item " href="http://averagefriends.me/projects/">


								Our Projects

							</a>
							<a ng-repeat="" class="navbar-item " href="http://averagefriends.me/joinus/">


								Join us

							</a>
							
							<a ng-repeat="" class="navbar-item " href="https://discordapp.com/invite/za5AMDF">


								Discord

							</a>
							
					</div>
				</div>
			</div>

		</div>


        <div id="content" style="padding-bottom: 0px;">
            



<div class="hero  is-medium projectlist">



    <div class="hero-body">
        <div class="container">

            <div class="title is-1" id="projects">Our Projects</div>
<div class="subtitle" style="margin-bottom: 100px">
<p>We design games for the enjoyment of others and our selfs. We love challenging our selfs to see what we could accomplish. All of our games are currently free.</p>
<p>We like to be as open as possible with the community unless there's a good reason not to. If any of you have any ideas or questions about our games please let us know at our discord!</p>
</div> 

        </div>
    </div>
</div>
	
	    <div style="background-color: #595959;>
        <div class="hero-body">
            <div class="container">

                <div class="title" style="color:white;">Games we are working on</div>
                <div class="subtitle" style="color:white;">these games are currently free but still being developed</div>

                <div class="columns is-multiline">

                        <div class="column" style="position: relative; flex-basis: 300px; min-height: 300px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;../img/KeepGoing.png&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: transparent; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
                                        Keep Going
                                    </div>

                                    <div class=" subtitle is-6">
                                        A simple platformer
                                    </div>


                                </div>

                                <div style="position: absolute; bottom: 16px; right: 16px; left: 16px; text-align: right; line-height: 0px;" class="">


                                        <a class="button is-primary" href="https://github.com/igummie/KeepGoingBuilds/releases">
                                            <i class="mdi mdi-link"></i>
                                        </a>

                                </div>

                            </div>

                        </div>
                        <div class="column" style="position: relative; flex-basis: 300px; min-height: 300px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;../img/questionmark.png&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: transparent; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
                                        ?
                                    </div>

                                    <div class=" subtitle is-6">
                                        Place holder for furture game
                                    </div>


                                </div>

                                <div style="position: absolute; bottom: 16px; right: 16px; left: 16px; text-align: right; line-height: 0px;" class="">


                                        <a class="button is-primary" href="http://averagefriends.me/">
                                            <i class="mdi mdi-link"></i>
                                        </a>

                                </div>

                            </div>

                        </div>
                        <div class="column" style="position: relative; flex-basis: 300px; min-height: 300px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;../img/questionmark.png&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: transparent; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
                                        ?
                                    </div>

                                    <div class=" subtitle is-6">
                                        Place holder for furture game
                                    </div>


                                </div>

                                <div style="position: absolute; bottom: 16px; right: 16px; left: 16px; text-align: right; line-height: 0px;" class="">


                                        <a class="button is-primary" href="http://averagefriends.me/">
                                            <i class="mdi mdi-link"></i>
                                        </a>

                                </div>

                            </div>

                        </div>
                        <div class="column" style="position: relative; flex-basis: 600px; min-height: 300px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;../img/questionmark.png&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: transparent; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
                                        ?
                                    </div>

                                    <div class=" subtitle is-6">
                                        Place holder for furture game
                                    </div>


                                </div>

                                <div style="position: absolute; bottom: 16px; right: 16px; left: 16px; text-align: right; line-height: 0px;" class="">


                                        <a class="button is-primary" href="http://averagefriends.me/">
                                            <i class="mdi mdi-link"></i>
                                        </a>

                                </div>

                            </div>

                        </div>
                </div>

            </div>
        </div>
    </div>
			
        </footer>


        

    </div>


</body></html>