<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
	<title>Average Friends</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Average Friends">

        <link rel="icon" href="https://goo.gl/hYWxmp">
        <link rel="shortcut icon" href="https://goo.gl/hYWxmp">
        <link rel="apple-touch-icon-precomposed" href="https://goo.gl/hYWxmp">


    <meta property="og:title" content="Home">




    <link rel="stylesheet" href="../../../../../assets/main">


    <script src="../../../../../assets/manifest"></script>
    <script src="../../../../../assets/script.js"></script><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>

    



    <script src="../../../../../assets/embed.js"></script>

    

</head>
<body class="page-home not-wide-design">

	<div id="wrapper">

		



		<div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
						<a class="navbar-item logo" href="http://averagefriends.me/"><img src="../../../../../img/AF.jpg"></a>

					<span class="navbar-burger burger" id="nav-toggle">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>

				<div class="navbar-menu" id="nav-menu">
					<div class="navbar-start">
						<!-- navbar items -->
					</div>

					<div class="navbar-end">
							<a ng-repeat="" class="navbar-item " href="http://averagefriends.me/projects/">


								Our Projects

							</a>
							<a ng-repeat="" class="navbar-item " href="http://averagefriends.me/joinus/">


								Join us

							</a>
							
							<a ng-repeat="" class="navbar-item " href="https://discordapp.com/invite/za5AMDF">


								Discord

							</a>
					</div>
				</div>
			</div>

		</div>


        <div id="content" style="padding-bottom: 0px;">
            



<section class="is-dark hero is-fullheight has-background has-background-image" style="background-image: url(&#39;../../../../../img/Black.PNG&#39;);">


	<div class="hero-body">
		<div class="container">
			<center>

    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_PH4E2zx8gg?rel=0&autoplay=1&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    

</center> 
		</div>
	</div>
</section>
        </div>

        <footer class="footer" style="">
            <div class="container">
                <div class="columns">

                    <div class="column is-3">
                        <a href="http://averagefriends.me/">
                            <img src="../../../../../img/AverageFriendsBanner.png">
                        </a>
                    </div>

                    <div class="column has-text-centered is-6">
                    </div>

                    <div class="column has-text-right is-3">
                        <ul style="list-style: none;">
                            <li><a href="http://averagefriends.me/search">Search</a></li>
                            <li><a href="http://averagefriends.me/">About Us</a></li>
                            <li><a href="http://averagefriends.me/projects/">Our Projects</a></li>
                            <li><a href="http://averagefriends.me/terms/">Terms Of Service</a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </footer>


        

    </div>


</body></html>