<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
	<title>Join us!</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Average Friends">

        <link rel="icon" href="https://goo.gl/hYWxmp">
        <link rel="shortcut icon" href="https://goo.gl/hYWxmp">
        <link rel="apple-touch-icon-precomposed" href="https://goo.gl/hYWxmp">


    <meta property="og:title" content="Home">




    <link rel="stylesheet" href="../assets/main">


    <script src="../assets/manifest"></script>
    <script src="../assets/script.js"></script><style type="text/css">/* Chart.js */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>

    



    <script src="../assets/embed.js"></script>

    

</head>
<body class="page-home not-wide-design">

	<div id="wrapper">

		



		<div class="navbar is-dark navbar-main" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
						<a class="navbar-item logo" href="http://averagefriends.me/"><img src="../img/AF.jpg"></a>

					<span class="navbar-burger burger" id="nav-toggle">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</div>

				<div class="navbar-menu" id="nav-menu">
					<div class="navbar-start">
						<!-- navbar items -->
					</div>

					<div class="navbar-end">
							<a ng-repeat="" class="navbar-item " href="http://averagefriends.me/projects/">


								Our Projects

							</a>
							<a ng-repeat="" class="navbar-item " href="http://averagefriends.me/joinus/">


								Join us

							</a>
							
							<a ng-repeat="" class="navbar-item " href="https://discordapp.com/invite/za5AMDF">


								Discord

							</a>
							
					</div>
				</div>
			</div>

		</div>


	
	    <div style="background-color: #595959;>
        <div class="hero-body">
            <div class="container">

                <div class="title" style="color:white;">Join us on any of these platforms!</div>
                <div class="subtitle" style="color:white;">We love enteracting with the community</div>

                <div class="columns is-multiline">

                        <div class="column" style="position: relative; flex-basis: 300px; min-height: 570px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: transparent; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 00; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
                                        Average Friends Discord
                                    </div>

                                    <div class=" subtitle is-6">
                                        Our Community Discord
										<iframe src="https://discordapp.com/widget?id=212257996238094337&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                                    </div>


                                </div>

                            </div>

                        </div>
                        <div class="column" style="position: relative; flex-basis: 300px; min-height: 570px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: transparent; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
                                        Average Friends Network
                                    </div>

                                    <div class=" subtitle is-6">
                                        Discord server for all of our game projects
										<iframe src="https://discordapp.com/widget?id=331539242729734145&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                                    </div>


                                </div>                                

                            </div>

                        </div>
                        <div class="column" style="position: relative; flex-basis: 300px; min-height: 300px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;../img/questionmark.png&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: transparent; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
                                        ?
                                    </div>

                                    <div class=" subtitle is-6">
                                        ?
                                    </div>


                                </div>

                                <div style="position: absolute; bottom: 16px; right: 16px; left: 16px; text-align: right; line-height: 0px;" class="">

                                </div>

                            </div>

                        </div>
                        <div class="column" style="position: relative; flex-basis: 600px; min-height: 300px; margin: 4px;">

                                    <div class="fullimage" style="background-image: url( &#39;&#39; )">
                                    </div>

                            <div class="hero is-danger" style="background-color: black; position: absolute; text-align: center; top: 0; left: 0; right: 0; bottom: 0; z-index: 100; background-image: linear-gradient(90deg, rgba(40, 40, 40, 0.8) 0%, rgba(49, 49, 49, 0.2) 60%);">

                                <div class="" style="padding: 16px">

                                    <div class="title is-4 has-text-uppercase">
										The rest of all of our connections on these platforms
                                    </div>

                                    <div class=" subtitle is-6">
                                        Feel free to tell us what you think we should add!
                                    </div>


                                </div>

                                <div style="position: absolute; bottom: 100px; right: 0px; left: 0px; text-align: center; line-height: 0px;" class="">

										<a href="https://github.com/AverageFriends/">
                                            <img src="../img/github.png">
                                        </a>
										
										<a href="https://mixer.com/AverageFriends">
                                            <img src="../img/mixer.png">
                                        </a>
										
										<a href="https://www.twitch.tv/averagefriends">
                                            <img src="../img/twitch.png">
                                        </a>
										
										<a href="https://www.youtube.com/AverageFriends">
                                            <img src="../img/youtube.png">
                                        </a>
										
                                </div>

                            </div>

                        </div>
                </div>

            </div>
        </div>
    </div>
			
        </footer>


        

    </div>


</body></html>